DOCKFLARE_MASTER_URL=https://dockflare.example.com
DOCKFLARE_API_KEY=agent_api_key_goes_here
DOCKER_HOST=tcp://docker-socket-proxy:2375
CLOUDFLARED_IMAGE=cloudflare/cloudflared@sha256:2025.9.0 #control the docker image used for cloudflared tunnel
LOG_LEVEL=info
TZ=Europe/Zurich
